run:
  t_max: 15000
  seed: 20

eval:
  episode: 30
  

globals:
  cpu_clock_cycle: 3.8 # Used to convert detection latency to cycle
  cpu_cores: 8
  fps: 5
  decision_interval: 1000

  ids:
    latency_ms: 0.0357 #0.357
    cycles_ms: 0.0
  
  attack:
    atk_01:
      type: drdos_dns
      ts_path: output/cicddos2019_1/DrDoS_DNS.csv
      latency_per_flow: 0.6 #in ms
      non_defendable_bw_const: 0.15
      scaling: 1.0

    atk_02:
      type: udp_lag
      ts_path: output/cicddos2019_1/UDPLag.csv
      latency_per_flow: 0.45
      non_defendable_bw_const: 0.25
      scaling: 0.1

  video_pipeline:
    reid_latency: 20 #! Should consider batch processing

    configs:
      # ---------- NanoDet-m ----------
      - detector: nanoDet-m-320
        map: 0.206
        latency_ms:
          detection: 4.05
        cycles:
          detection: 0

      # ---------- NanoDet-Plus-m ----------
      - detector: nanodet-plus-m_320
        map: 0.27
        latency_ms:
          detection: 4.39
        cycles:
          detection: 0

      - detector: nanodet-plus-m_416
        map: 0.34
        latency_ms:
          detection: 8.55
        cycles:
          detection: 0

      # ---------- NanoDet-Plus-m-1.5x ----------
      - detector: nanodet-plus-m-1.5x_320
        map: 0.304
        latency_ms:
          detection: 5.97
        cycles:
          detection: 0

      - detector: nanodet-plus-m-1.5x_416
        map: 0.4
        latency_ms:
          detection: 10.17
        cycles:
          detection: 0

edge_areas:
  - area_id: "E1"
    cpu_cycle_per_ms: 3.8 #3.8GHz #3.8E6 / ms
    budget: { cpu: 8.0, mem: 8.0, uplink: 1000 } #100Mbps
    constraints:
      D_Max: 250.0
      MOTA_min: 0.1  
      Gamma: 0.0005 

    ids_config:
      accuracy_by_type:
        drdos_dns: [0.01, 0.05]   # FPR, FNR
        http_flood: [0.01, 0.02]

    users:
      - user_id: "cam_001"
        input_path: "input/bellevue_150th_eastgate_full/frame_stats_yolo11x_736.csv"
      # - user_id: "cam_002"
      #   obj_pred_ts: "data/users/cam_002_obj_pred.csv"
      #   mota_table: "data/mota_table/bellevue_150th_eastgate.csv"

    attackers:
      - attacker_type: "atk_01"

  # - area_id: "E2"
  #   cpu_cycle_per_ms: 3.8 #3.8GHz #3.8E6 / ms
  #   budget: { cpu: 8.0, mem: 8.0, uplink: 12.5 }
  #   constraints:
  #     D_Max: 250.0
  #     MOTA_min: 0.40    
  #     Gamma: 0.0005 
  #   ids_config:
  #     accuracy_by_type: {}
  #   users: []
  #   attackers: []