run:
  t_max: 2000
  seed: 42

globals:
  cpu_clock_cycle: 3.8 # Used to convert detection latency to cycle
  cpu_cores: 8
  fps: 5

  ids:
    latency_ms: 50

  video_pipeline:
    reid_latency: 20 #! Should consider batch processing

    configs:
      # ---------- YOLO11M ----------
      - detector: yolo11m
        base_resolution_h: 736
        latency_ms:
          detection: 140.53692
        cycles:
          detection: 0

      - detector: yolo11m
        base_resolution_h: 544
        latency_ms:
          detection: 100.13525
        cycles:
          detection: 0

      - detector: yolo11m
        base_resolution_h: 384
        latency_ms:
          detection: 47.44823
        cycles:
          detection: 0

      # ---------- YOLO11S ----------
      - detector: yolo11s
        base_resolution_h: 736
        latency_ms:
          detection: 89.95332
        cycles:
          detection: 0

      - detector: yolo11s
        base_resolution_h: 544
        latency_ms:
          detection: 55.19455
        cycles:
          detection: 0

      - detector: yolo11s
        base_resolution_h: 384
        latency_ms:
          detection: 24.90750
        cycles:
          detection:   0        

      # ---------- YOLO11N ----------
      - detector: yolo11n
        base_resolution_h: 736
        latency_ms:
          detection: 31.38791
        cycles:
          detection: 954.20          

      - detector: yolo11n
        base_resolution_h: 544
        latency_ms:
          detection: 20.79534
        cycles:
          detection: 632.17         

      - detector: yolo11n
        base_resolution_h: 384
        latency_ms:
          detection: 15.06442
        cycles:
          detection: 458.0

edge_areas:
  - area_id: "E1"
    cpu_cycle_per_ms: 3.8 #3.8GHz #3.8E6 / ms
    budget: { cpu: 8.0, mem: 8.0, uplink: 12.5 } #100Mbps
    constraints:
      D_Max: 250.0
      MOTA_min: 0.1  
      Gamma: 0.0005 

    ids_config:
      accuracy_by_type:
        syn_flood: [0.01, 0.05]   # FPR, FNR
        http_flood: [0.01, 0.02]

    users:
      - user_id: "cam_001"
        input_dir: "input/bellevue_150th_eastgate/"
      # - user_id: "cam_002"
      #   obj_pred_ts: "data/users/cam_002_obj_pred.csv"
      #   mota_table: "data/mota_table/bellevue_150th_eastgate.csv"

    attackers:
      - attacker_id: "atk_01"
        ts: "data/attacks/atk_01.csv"

  - area_id: "E2"
    cpu_cycle_per_ms: 3.8 #3.8GHz #3.8E6 / ms
    budget: { cpu: 8.0, mem: 8.0, uplink: 12.5 }
    constraints:
      D_Max: 250.0
      MOTA_min: 0.40    
      Gamma: 0.0005 
    ids_config:
      accuracy_by_type: {}
    users: []
    attackers: []